/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--color, #00cc14);
  font-family: var(--font-main, Arial), sans-serif;
  background: var(--background-image,
  repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
  linear-gradient(to bottom, #007f0c, #004306)) left top / cover fixed;
  background-color: var(--bg-color, #000);
  font-variation-settings: 'wght' var(--font-card-text-weight, 465);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px auto;
  border: 2px solid var(--color, #00cc14);
  padding-block-start: clamp(7.5rem, 1.373vw + 7.264rem, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}

.header, .card, .button {
  background-color: var(--bg-color);
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  text-transform: uppercase;
}

.header__paragraph {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  line-height: 100%;
  text-wrap: nowrap;
}


.header__theme-menu {
  margin-inline-start: 20px;
  margin-block-start: 4px;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  gap: 11px;
  line-height: 100%;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  text-align: start;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0;
  inset-block-end: -3px;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -21px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color, #00cc14);
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card__title {
  border-block-end: 2px solid var(--color, #00cc14);
  padding: 5px 10px 5px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--font-card-title-weight, 785);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__image-wrapper {
  position: relative;
}

.card__image-title {
  position: absolute;
  opacity: 0.6;
  color: var(--color, #00cc14);
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-shadow: -1px 0 var(--card-image-title-text-shadow-color, #000),
  0 1px var(--card-image-title-text-shadow-color, #000),
  1px 0 var(--card-image-title-text-shadow-color, #000),
  0 -1px var(--card-image-title-text-shadow-color, #000);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-title {
    -webkit-text-stroke: 0.5px var(--card-image-title-text-shadow-color);
    text-stroke: 0.5px var(--card-image-title-text-shadow-color);
    text-shadow: none;
  }
}

.card__content {
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--color, #00cc14);
  padding: 25px 26px;
}

.button {
  position: relative;
  border: 2px solid var(--color, #00cc14);
  color: var(--color, #00cc14);
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 90%;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color, #00cc14);
  transform: scaleX(0);
  transform-origin: 0;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover {
  color: var(--bg-color, #000);
}

.button:hover::after {
  transform: scaleX(1);
}

.card__like-button {
  
  inline-size: 130px;
  block-size: 38px;
}

.button:focus-visible {
  box-shadow: 2px 2px currentColor;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin: 0 25px 25px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-text-color, #00cc14);
  text-wrap: nowrap;
  mix-blend-mode: difference;
}

.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-block-end: 100px;
  padding: 15px 20px;
}

.button__save-icon {
  position: relative;
  z-index: 2;
  color: var(--button-text-color, #00cc14);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.main {
  display: grid;
  justify-items: center;
  gap: 50px;
  margin: 0 auto;
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color, #00cc14);
}

.sparks, .core, .main-body {
  opacity: 0;
}

.like-icon {
  cursor: pointer;
  block-size: 36px;
  inline-size: 36px;
}

.like-icon:hover .core,
.like-icon:hover .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  opacity: 1;
}

.like-icon:active .core,
.like-icon:active .main-body,
.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: #f00;
}

.contour {
  fill: var(--color, #00cc14);
}

.heart {
  transform-origin: center;
}

.dialog {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid var(--color, #00cc14);
  padding: 30px;
  color: var(--color, #00cc14);
  background-color: var(--bg-color, #fff);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

dialog[open] {
  display: grid;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__content {
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  min-inline-size: 198px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__form {
  grid-column: span 2;
}

.dialog__button {
  block-size: 38px;
  inline-size: 100%;
}

.filter__brightness {
  filter: brightness(200%);
}

.filter__blur {
  filter: blur(20px);
}

.filter__grayscale {
  filter: grayscale(80%);
}

.filter__sepia {
  filter: sepia(0.5);
}

.filter__invert {
  filter: invert(0.8);
}

.filter__hue-rotate {
  filter: hue-rotate(90deg) invert(0.2);
}

.filter__saturate {
  filter: saturate(0.3);
}


@media (width <= 376px) {
  .button__save {
    display: grid;
    justify-items: center;
  }
  
  .button__save-icon {
    block-size: 28px;
    inline-size: 28px;
  }
  
  .card__image-title {
    inset-inline-end: 11px;
  }
  
  .dialog {
    padding: 30px 40px;
  }
}